In [47]:
import pandas as pd
import numpy as np

df = pd.read_csv("../data/01_raw_data/2024_NFL_DL.csv")
print(df.shape)
df.head()

(204, 26)

,Rk,Player,Age,Team,Pos,G,GS,Int,Yds,IntTD,...,FRTD,Sk,Comb,Solo,Ast,TFL,QBHits,Sfty,Awards,-9999
0,198,Truman Jones,24,NWE,DE,1,0,0,0,0,...,0,0.0,2,2,0,0,0,0,NaN,JoneTr01
1,199,DJ Coleman,26,JAX,DE,1,0,0,0,0,...,0,0.0,3,1,2,0,0,0,NaN,ColeDJ00
2,200,Solomon Byrd,25,HOU,DE,1,0,0,0,0,...,0,0.0,2,2,0,0,1,0,NaN,ByrdSo00
3,201,Derrick Brown,26,CAR,DE,1,1,0,0,0,...,0,0.0,3,1,2,0,0,0,NaN,BrowDe05
4,202,Elerson Smith,26,CLE,DE,2,0,0,0,0,...,0,0.0,2,1,1,0,0,0,NaN,SmitEl00

In [48]:
df = df.drop(columns=["Rk", "-9999"])
df.columns

Index(['Player', 'Age', 'Team', 'Pos', 'G', 'GS', 'Int', 'Yds', 'IntTD', 'Lng',
       'PD', 'FF', 'Fmb', 'FR', 'Yds.1', 'FRTD', 'Sk', 'Comb', 'Solo', 'Ast',
       'TFL', 'QBHits', 'Sfty', 'Awards'],
      dtype='object')

In [49]:
df.columns = df.columns.str.lower()
df.columns

Index(['player', 'age', 'team', 'pos', 'g', 'gs', 'int', 'yds', 'inttd', 'lng',
       'pd', 'ff', 'fmb', 'fr', 'yds.1', 'frtd', 'sk', 'comb', 'solo', 'ast',
       'tfl', 'qbhits', 'sfty', 'awards'],
      dtype='object')

In [50]:
import pandas as pd

dline21 = pd.read_csv("../data/01_raw_data/d-line/21_D-line.csv")
dline22 = pd.read_csv("../data/01_raw_data/d-line/22_D-line.csv")
dline23 = pd.read_csv("../data/01_raw_data/d-line/23_D-line.csv")
dline24 = pd.read_csv("../data/01_raw_data/d-line/24_D-line.csv")
dline = pd.read_csv("../data/01_raw_data/d-line/d-line.csv")

In [51]:
dline.head()

,Rk,Player,Age,Team,Pos,G,GS,Int,Yds,IntTD,...,FRTD,Sk,Comb,Solo,Ast,TFL,QBHits,Sfty,Awards,-9999
0,280,Ethan Westbrooks,31,NOR,DE,1,0,0,0,0,...,0,0.0,1,1,0,0,0,0,NaN,WestEt00
1,281,Nick Thurman,26,ATL,DE,1,0,0,0,0,...,0,0.0,1,1,0,0,1,0,NaN,ThurNi00
2,282,Za'Darius Smith,29,GNB,DE,1,0,0,0,0,...,0,0.0,1,1,0,0,0,0,NaN,SmitZa00
3,283,Jabaal Sheard,32,MIA,DE,1,0,0,0,0,...,0,0.0,1,0,1,0,0,0,NaN,SheaJa00
4,284,Freedom Akinmoladun,25,NYJ,DE,1,0,0,0,0,...,0,0.0,2,2,0,0,0,0,NaN,AkinFr01

In [52]:
dline = dline.drop(["Rk", "Age", "Team", "-9999"], axis=1)
dline.head()

,Player,Pos,G,GS,Int,Yds,IntTD,Lng,PD,FF,...,Yds.1,FRTD,Sk,Comb,Solo,Ast,TFL,QBHits,Sfty,Awards
0,Ethan Westbrooks,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,0,0,NaN
1,Nick Thurman,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,1,0,NaN
2,Za'Darius Smith,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,0,0,NaN
3,Jabaal Sheard,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,0,1,0,0,0,NaN
4,Freedom Akinmoladun,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,2,2,0,0,0,0,NaN

In [53]:
dline["Awards"] = dline["Awards"].fillna("0")
dline

,Player,Pos,G,GS,Int,Yds,IntTD,Lng,PD,FF,...,Yds.1,FRTD,Sk,Comb,Solo,Ast,TFL,QBHits,Sfty,Awards
0,Ethan Westbrooks,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,0,0,0
1,Nick Thurman,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,1,0,0
2,Za'Darius Smith,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,0,0,0
3,Jabaal Sheard,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,0,1,0,0,0,0
4,Freedom Akinmoladun,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,2,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,Milton Williams,DT,17,7,0,0,0,0,1,1,...,0,0,5.0,24,11,13,7,10,0,0
864,Jonah Laulu,DT,17,7,0,0,0,0,3,0,...,0,0,1.0,35,15,20,3,2,0,0
865,Johnathan Hankins,DT,17,8,1,0,0,0,1,0,...,0,0,1.0,30,15,15,5,2,0,0
866,Bryan Bresee,DT,17,11,0,0,0,0,3,1,...,0,0,7.5,25,17,8,7,14,0,0
867,Nnamdi Madubuike,DT,17,17,0,0,0,0,1,1,...,0,0,6.5,43,21,22,11,17,0,PB

In [54]:
dline.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868 entries, 0 to 867
Data columns (total 22 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  868 non-null    object
 1   Pos     868 non-null    object
 2   G       868 non-null    int64
 3   GS      868 non-null    int64
 4   Int     868 non-null    int64
 5   Yds     868 non-null    int64
 6   IntTD   868 non-null    int64
 7   Lng     868 non-null    int64
 8   PD      868 non-null    int64
 9   FF      868 non-null    int64
 10  Fmb     868 non-null    int64
 11  FR      868 non-null    int64
 12  Yds.1   868 non-null    int64
 13  FRTD    868 non-null    int64
 14  Sk      868 non-null    float64
 15  Comb    868 non-null    int64
 16  Solo    868 non-null    int64
 17  Ast     868 non-null    int64
 18  TFL     868 non-null    int64
 19  QBHits  868 non-null    int64
 20  Sfty    868 non-null    int64
 21  Awards  868 non-null    object
dtypes: float64(1), int64(18), object(3)
memory usage: 149.3+ KB

In [55]:
dline

,Player,Pos,G,GS,Int,Yds,IntTD,Lng,PD,FF,...,Yds.1,FRTD,Sk,Comb,Solo,Ast,TFL,QBHits,Sfty,Awards
0,Ethan Westbrooks,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,0,0,0
1,Nick Thurman,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,1,0,0
2,Za'Darius Smith,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,0,0,0
3,Jabaal Sheard,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,0,1,0,0,0,0
4,Freedom Akinmoladun,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,2,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,Milton Williams,DT,17,7,0,0,0,0,1,1,...,0,0,5.0,24,11,13,7,10,0,0
864,Jonah Laulu,DT,17,7,0,0,0,0,3,0,...,0,0,1.0,35,15,20,3,2,0,0
865,Johnathan Hankins,DT,17,8,1,0,0,0,1,0,...,0,0,1.0,30,15,15,5,2,0,0
866,Bryan Bresee,DT,17,11,0,0,0,0,3,1,...,0,0,7.5,25,17,8,7,14,0,0
867,Nnamdi Madubuike,DT,17,17,0,0,0,0,1,1,...,0,0,6.5,43,21,22,11,17,0,PB

In [56]:
dline["Player"].duplicated().sum()

np.int64(381)

In [57]:
import unicodedata as ud


def clean_name(s):
    s = "" if pd.isna(s) else str(s)
    s = ud.normalize("NFKC", s)  # normalize Unicode (e.g., nonâ€‘breaking spaces)
    s = s.strip()  # trim edges
    s = re.sub(r"\s+", " ", s)  # collapse internal whitespace
    s = s.casefold()  # case-insensitive
    return s


import re

dline["Player"] = dline["Player"].apply(clean_name)
df

,player,age,team,pos,g,gs,int,yds,inttd,lng,...,yds.1,frtd,sk,comb,solo,ast,tfl,qbhits,sfty,awards
0,Truman Jones,24,NWE,DE,1,0,0,0,0,0,...,0,0,0.0,2,2,0,0,0,0,NaN
1,DJ Coleman,26,JAX,DE,1,0,0,0,0,0,...,0,0,0.0,3,1,2,0,0,0,NaN
2,Solomon Byrd,25,HOU,DE,1,0,0,0,0,0,...,0,0,0.0,2,2,0,0,1,0,NaN
3,Derrick Brown,26,CAR,DE,1,1,0,0,0,0,...,0,0,0.0,3,1,2,0,0,0,NaN
4,Elerson Smith,26,CLE,DE,2,0,0,0,0,0,...,0,0,0.0,2,1,1,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,Milton Williams,25,PHI,DT,17,7,0,0,0,0,...,0,0,5.0,24,11,13,7,10,0,NaN
200,Jonah Laulu,24,LVR,DT,17,7,0,0,0,0,...,0,0,1.0,35,15,20,3,2,0,NaN
201,Johnathan Hankins,32,SEA,DT,17,8,1,0,0,0,...,0,0,1.0,30,15,15,5,2,0,NaN
202,Bryan Bresee,23,NOR,DT,17,11,0,0,0,0,...,0,0,7.5,25,17,8,7,14,0,NaN
203,Nnamdi Madubuike,27,BAL,DT,17,17,0,0,0,0,...,0,0,6.5,43,21,22,11,17,0,PB

In [58]:
dline["Awards"] = pd.Categorical(dline["Awards"]).codes
dline

,Player,Pos,G,GS,Int,Yds,IntTD,Lng,PD,FF,...,Yds.1,FRTD,Sk,Comb,Solo,Ast,TFL,QBHits,Sfty,Awards
0,ethan westbrooks,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,0,0,0
1,nick thurman,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,1,0,0
2,za'darius smith,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,0,0,0
3,jabaal sheard,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,0,1,0,0,0,0
4,freedom akinmoladun,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,2,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,milton williams,DT,17,7,0,0,0,0,1,1,...,0,0,5.0,24,11,13,7,10,0,0
864,jonah laulu,DT,17,7,0,0,0,0,3,0,...,0,0,1.0,35,15,20,3,2,0,0
865,johnathan hankins,DT,17,8,1,0,0,0,1,0,...,0,0,1.0,30,15,15,5,2,0,0
866,bryan bresee,DT,17,11,0,0,0,0,3,1,...,0,0,7.5,25,17,8,7,14,0,0
867,nnamdi madubuike,DT,17,17,0,0,0,0,1,1,...,0,0,6.5,43,21,22,11,17,0,6

In [59]:
dline = dline.drop('Pos', axis=1)

In [60]:
dline.groupby('Player').mean()

,G,GS,Int,Yds,IntTD,Lng,PD,FF,Fmb,FR,Yds.1,FRTD,Sk,Comb,Solo,Ast,TFL,QBHits,Sfty,Awards
Player,,,,,,,,,,,,,,,,,,,,
a'shawn robinson,17.000000,13.0,0.000000,0.000000,0.000000,0.000000,2.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,62.000000,34.0,28.000000,6.000000,1.000000,0.0,0.0
a.j. epenesa,14.666667,1.0,0.666667,12.666667,0.333333,10.666667,4.666667,1.0,0.0,0.666667,0.0,0.0,4.833333,16.666667,10.0,6.666667,5.333333,9.666667,0.0,0.0
aaron donald,13.500000,13.5,0.000000,0.000000,0.000000,0.000000,2.500000,0.5,0.0,0.500000,0.0,0.0,6.500000,51.000000,27.5,23.500000,13.000000,17.000000,0.0,7.5
abdullah anderson,5.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.500000,0.0,0.0,0.250000,5.000000,3.0,2.000000,0.500000,0.500000,0.0,0.0
adam butler,17.000000,0.5,0.000000,0.000000,0.000000,0.000000,3.500000,0.5,0.0,0.000000,0.0,0.0,3.500000,22.500000,12.5,10.000000,5.000000,7.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zach harrison,16.500000,0.5,0.000000,0.000000,0.000000,0.000000,1.500000,0.0,0.0,0.000000,0.0,0.0,2.000000,29.500000,12.0,17.500000,3.500000,3.000000,0.5,0.0
zach kerr,7.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,6.000000,2.0,4.000000,0.000000,0.000000,0.0,0.0
zach sieler,17.000000,17.0,1.000000,5.000000,1.000000,5.000000,4.000000,1.0,0.0,2.000000,3.0,0.0,10.000000,63.000000,32.0,31.000000,11.000000,22.000000,0.0,0.0
zachary carter,14.500000,3.5,0.000000,0.000000,0.000000,0.000000,1.000000,0.5,0.0,0.000000,0.0,0.0,0.750000,22.500000,9.0,13.500000,0.500000,2.000000,0.0,0.0
zion logue,2.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,2.000000,2.0,0.000000,0.000000,0.000000,0.0,0.0

In [61]:
dline.dtypes

Player     object
G           int64
GS          int64
Int         int64
Yds         int64
IntTD       int64
Lng         int64
PD          int64
FF          int64
Fmb         int64
FR          int64
Yds.1       int64
FRTD        int64
Sk        float64
Comb        int64
Solo        int64
Ast         int64
TFL         int64
QBHits      int64
Sfty        int64
Awards       int8
dtype: object

In [62]:
dline['Player'].duplicated().value_counts()

Player
False    487
True     381
Name: count, dtype: int64

In [63]:
dups = dline[dline['Player'] == 'deforest buckner']
dups

,Player,G,GS,Int,Yds,IntTD,Lng,PD,FF,Fmb,...,Yds.1,FRTD,Sk,Comb,Solo,Ast,TFL,QBHits,Sfty,Awards
382,deforest buckner,17,16,0,0,0,0,3,2,0,...,0,0,8.0,74,44,30,11,22,0,0
650,deforest buckner,17,16,0,0,0,0,7,2,0,...,26,1,8.0,81,45,36,11,21,0,6
837,deforest buckner,12,11,0,0,0,0,1,0,0,...,0,0,6.5,61,24,37,8,14,0,0

In [64]:
dline["Awards"] = pd.to_numeric(dline["Awards"], errors="coerce").fillna(0)

In [71]:
dline["Player"] = (
    dline["Player"]
    .str.replace(".", "", regex=False)
    .str.replace(r"\s+", " ", regex=True)
    .str.strip()
)
dline

,Player,G,GS,Int,Yds,IntTD,Lng,PD,FF,Fmb,...,Yds.1,FRTD,Sk,Comb,Solo,Ast,TFL,QBHits,Sfty,Awards
0,ethan westbrooks,1,0,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,0,0,0
1,nick thurman,1,0,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,1,0,0
2,za'darius smith,1,0,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,0,0,0
3,jabaal sheard,1,0,0,0,0,0,0,0,0,...,0,0,0.0,1,0,1,0,0,0,0
4,freedom akinmoladun,1,0,0,0,0,0,0,0,0,...,0,0,0.0,2,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,milton williams,17,7,0,0,0,0,1,1,0,...,0,0,5.0,24,11,13,7,10,0,0
864,jonah laulu,17,7,0,0,0,0,3,0,0,...,0,0,1.0,35,15,20,3,2,0,0
865,johnathan hankins,17,8,1,0,0,0,1,0,0,...,0,0,1.0,30,15,15,5,2,0,0
866,bryan bresee,17,11,0,0,0,0,3,1,0,...,0,0,7.5,25,17,8,7,14,0,0
867,nnamdi madubuike,17,17,0,0,0,0,1,1,0,...,0,0,6.5,43,21,22,11,17,0,6

In [82]:
dline = dline.groupby('Player').agg({'G':'sum','GS':'sum','Int':'sum','Yds':'sum','IntTD':'sum','Lng':'sum','PD':'sum','FF':'sum','Fmb':'sum','FR':'sum','Yds.1':'sum','FRTD':'sum','Sk':'sum','Comb':'sum','Solo':'sum','Ast':'sum','TFL':'sum','QBHits':'sum','Sfty':'sum','Awards':'mean'})
dline

,G,GS,Int,Yds,IntTD,Lng,PD,FF,Fmb,FR,Yds.1,FRTD,Sk,Comb,Solo,Ast,TFL,QBHits,Sfty,Awards
Player,,,,,,,,,,,,,,,,,,,,
a'shawn robinson,17.00,13.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.00,0.0,0.0,0.000,62.0,34.0,28.0,6.0,1.00,0.0,0.0
aaron donald,13.50,13.5,0.0,0.0,0.0,0.0,2.5,0.5,0.0,0.50,0.0,0.0,6.500,51.0,27.5,23.5,13.0,17.00,0.0,7.5
abdullah anderson,5.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.50,0.0,0.0,0.250,5.0,3.0,2.0,0.5,0.50,0.0,0.0
adam butler,17.00,0.5,0.0,0.0,0.0,0.0,3.5,0.5,0.0,0.00,0.0,0.0,3.500,22.5,12.5,10.0,5.0,7.00,0.0,0.0
adam gotsis,13.25,3.0,0.0,0.0,0.0,0.0,1.5,0.0,0.0,0.25,0.0,0.0,1.375,20.0,13.0,7.0,3.0,6.25,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zach harrison,16.50,0.5,0.0,0.0,0.0,0.0,1.5,0.0,0.0,0.00,0.0,0.0,2.000,29.5,12.0,17.5,3.5,3.00,0.5,0.0
zach kerr,7.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.000,6.0,2.0,4.0,0.0,0.00,0.0,0.0
zach sieler,17.00,17.0,1.0,5.0,1.0,5.0,4.0,1.0,0.0,2.00,3.0,0.0,10.000,63.0,32.0,31.0,11.0,22.00,0.0,0.0
zachary carter,14.50,3.5,0.0,0.0,0.0,0.0,1.0,0.5,0.0,0.00,0.0,0.0,0.750,22.5,9.0,13.5,0.5,2.00,0.0,0.0
zion logue,2.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.000,2.0,2.0,0.0,0.0,0.00,0.0,0.0

In [83]:
dline.reset_index(inplace=True)
dline

,Player,G,GS,Int,Yds,IntTD,Lng,PD,FF,Fmb,...,Yds.1,FRTD,Sk,Comb,Solo,Ast,TFL,QBHits,Sfty,Awards
0,a'shawn robinson,17.00,13.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.000,62.0,34.0,28.0,6.0,1.00,0.0,0.0
1,aaron donald,13.50,13.5,0.0,0.0,0.0,0.0,2.5,0.5,0.0,...,0.0,0.0,6.500,51.0,27.5,23.5,13.0,17.00,0.0,7.5
2,abdullah anderson,5.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.250,5.0,3.0,2.0,0.5,0.50,0.0,0.0
3,adam butler,17.00,0.5,0.0,0.0,0.0,0.0,3.5,0.5,0.0,...,0.0,0.0,3.500,22.5,12.5,10.0,5.0,7.00,0.0,0.0
4,adam gotsis,13.25,3.0,0.0,0.0,0.0,0.0,1.5,0.0,0.0,...,0.0,0.0,1.375,20.0,13.0,7.0,3.0,6.25,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482,zach harrison,16.50,0.5,0.0,0.0,0.0,0.0,1.5,0.0,0.0,...,0.0,0.0,2.000,29.5,12.0,17.5,3.5,3.00,0.5,0.0
483,zach kerr,7.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000,6.0,2.0,4.0,0.0,0.00,0.0,0.0
484,zach sieler,17.00,17.0,1.0,5.0,1.0,5.0,4.0,1.0,0.0,...,3.0,0.0,10.000,63.0,32.0,31.0,11.0,22.00,0.0,0.0
485,zachary carter,14.50,3.5,0.0,0.0,0.0,0.0,1.0,0.5,0.0,...,0.0,0.0,0.750,22.5,9.0,13.5,0.5,2.00,0.0,0.0
486,zion logue,2.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000,2.0,2.0,0.0,0.0,0.00,0.0,0.0

In [84]:
dline.to_csv("dline.csv")